h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    background-color: lightblue;
    font-style: italic;
    border-style:double;
    border-color:black;
    padding: 16px;
    text-align: center;
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    background-color: white;
    font-style: italic;
    padding: 4px;
    margin:2px;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    background-color: white;
    font-style: italic;
    padding: 4px;
    margin:2px;
}

hgroup {
    text-align: center;
}

body {
    background-image: url(../static/RPS.jpg);
    background-position: center;
    display: block;
    background-repeat: no-repeat;
    background-size:cover;
}

.pc_button {
    color: yellow;
    background-color: purple;
    font-size: 30px;
    margin: 20px 20px;
    cursor: pointer;
    text-align: center
    display:center;
}

body > div > form {
    text-align: center;
}